/* club_profile */
.club_profile_area {
  width: 100%;
  padding-top: 30px;
}

.club_profile {
  width: 1260px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-color3);
  margin-bottom: 30px;
}

.club_profile_box {
  width: 95%;
  height: 95%;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}

.club_profile_desc {
  width: 50%;
}

.club_profile_desc_contents {
  width: 100%;
  height: 100%;
}

.club_profile_title {
  font-size: 2rem;
  font-weight: 900;
}

.club_profile_member_count, .club_profile_loc, .club_profile_themes {
  font-size: 0.9rem;
  padding: 1px 0px 1px 0px;
}

.club_profile_btns {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.club_profile_btns_item {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

#joinClub {
  width: 100px;
  height: 35px;
  font-size: 0.8rem;
  border: 1px solid var(--color1);
  background-color: var(--color2);
  color: var(--color1);
  margin: 0px 5px;
}

#joinClub:hover {
  border: 1px solid var(--color1);
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}

#requestClub {
  width: 100px;
  height: 35px;
  font-size: 0.8rem;
  border: 1px solid #9684A1;
  background-color: #9684A1;
  color: var(--color2);
  margin: 0px 5px;	
}

#requestClub:hover {
  border: 1px solid #9684A1;
  background-color: var(--color2);
  color: #9684A1;
  margin: 0px 5px;	
}

.likeBtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.2rem;
  color: tomato;	
}

#likeClub {
  width: 100px;
  height: 35px;
  font-size: 0.8rem;
  border: 1px solid var(--bg-color);
  background-color: var(--color2);
  color: var(--bg-color);
  margin: 0px 5px;
}

#likeClub:hover {
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
  color: var(--color2);
  cursor: pointer;
}


#likeClubCancel {
  width: 100px;
  height: 35px;
  font-size: 0.8rem;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
  color: var(--color2);
  margin: 0px 5px;
}

#likeClubCancel:hover {
  border: 1px solid var(--bg-color);
  background-color: var(--color2);
  color: var(--bg-color);
  cursor: pointer;
}

#controlClub {
  width: 120px;
  height: 35px;
  font-size: 0.8rem;
  border: 1px solid mediumaquamarine;
  background-color: var(--color2);
  color: mediumaquamarine;
  margin: 0px 5px;
}

#controlClub:hover {
  border: 1px solid mediumaquamarine;
  background-color: mediumaquamarine;
  color: var(--color2);
  cursor: pointer;
}

#leaveClub, #breakClub {
  width: 150px;
  height: 35px;
  font-size: 0.8rem;
  border: 1px solid tomato;
  background-color: var(--color2);
  color: tomato;
  margin: 0px 5px;
}

#leaveClub:hover, #breakClub:hover {
  border: 1px solid tomato;
  background-color: tomato;
  color: var(--color2);
  cursor: pointer;
}

.club_profile_photo {
  width: 1260px;
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club_profile_photo_box {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border: 1px solid var(--bg-color3);
}

.club_profile_photo_box img {
  width: 100%;
  height: 100%;
}
/* club_profile end */

/* clubHouse */
.clubHouse {
  width: 1260px;
  margin: 0 auto;
  border: 1px solid var(--bg-color3);
  box-shadow: 2px 2px 2px 2px var(--bg-color4);
  margin-bottom: 0px;
}

.clubHouse_box {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clubHouse_nav {
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.clubHouse_title {
  height: 50px;
  padding: 10px 30px 10px 30px;
}

.clubHouse_menu_list {
  width: 95%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--bg-color3);
  margin-left: 30px;
  list-style-type: none;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color1);
}

.clubHouse_menu_list_item {
  border: none;
  padding: 10px 20px 10px 20px;
}

.clubHouse_menu_list_item:hover {
  cursor: pointer;
}

#clubIntro {
  border-bottom: 3px solid var(--color1);
}

.clubHouse_contents {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.clIntro_wrap {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 1000px;
}

.clIntro_box {
  padding-top: 10px;
  width: 100%;
}

.club_chat_wrap {
  margin: 0 auto;
  width: 95%;
  height: 1000px;
  display: none;
}
/* clubHouse end */

/* clubMemberList */
.cm_list_wrap {
  margin: 0 auto;
  width: 1200px;
  min-height: 600px;
  background-color: rgba(212, 212, 212, 0.3);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cm_list_title {
  font-size: 1.3rem;
  font-weight: 900;
  width: 100%;
  padding: 30px 0px 10px 20px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cm_list_title_text {
  height: 100%;
}

.cm_list_item_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-left: 15px;
}

.cm_list_item {
  width: 23%;
  height: 350px;
  margin: 20px 10px 30px 10px;
  box-shadow: 1px 1px 1px 1px rgba(212, 212, 212, 0.3);
  background-color: white;
  border-radius: 8px;
  position: relative;
}

.cm_list_item_photo_area {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cm_list_item_photo {
  width: 125px;
  height: 125px;
  border: 1px solid dimgrey;
  border-radius: 125px;
  overflow: hidden;
}

.cm_list_item_photo img {
  width: 100%;
  height: 100%;
}

.cm_list_item_profile_area {
  height: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cm_list_admin_badge {
  font-size: 0.5rem;
  padding: 2px 2px;
  border: 1px solid tomato;
  color: tomato;
  position: absolute;
  top: 15px;
  left: 15px;
}

.cm_list_item_profile_title {
  font-size: 1rem;
  font-weight: 900;
  padding: 0px 0px 5px 0px;
}

.cm_list_item_profile_item {
  font-size: 0.75rem;
  padding: 1px 0px;
}

.cm_list_item_btns_area {
  height: 13%;
  display: flex;
}

.cm_list_item_btn1 {
  width: 50%;
  border: none;
  border-top: 1px solid dimgrey;
  padding: 3px 3px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cm_list_item_btn2 {
  width: 50%;
  border: none;
  border-left: 1px solid dimgrey;
  border-top: 1px solid dimgrey;
  padding: 3px 3px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* clubMemberList end */

/* club_board */
.club_board_wrap {
  margin: 0 auto;
  width: 1200px;
  height: 1200px;
  background-color: rgba(212, 212, 212, 0.3);
  display: none;
  flex-direction: column;
}

.club_board_title {
  font-size: 1.3rem;
  font-weight: 900;
  width: 100%;
  padding: 30px 0px 10px 20px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;  	
}

.club_board_item_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
/* club_board end */

iframe {   
  display: block;   
  border: none;   
  width: 100%; 
  height: 1000px;   
}
