/* modal */
.modal_bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--color1);
  opacity: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}

.logininput_wrap {
  width: 500px;
  height: 500px;
  border: 1px solid var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: relative;
}

#close_btn:hover {
  cursor: pointer;
}

#close_btn i {
  font-size: 1.5rem;
  color: var(--color1);
  position: absolute;
  top: 10px;
  right: 20px;

}

.loginForm {
  width: 450px;
  height: 600px;
  border: 1px solid var(--color1);
  background-color: var(--color2);
  position: fixed;
  top: 20%;
  left: 37%;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: none;
  justify-content: center;
  align-items: center;
}

.login_wrap {
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color1);
  padding: 0px;
}

.login_box_wrap {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.login_box {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_box_img_wrap {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_text {
  font-size: 0.75rem;
  font-weight: 900;
  text-align: center;    
  height: 5%;
}

.login_box_img {
  width: 200px;
  height: 75px;
  overflow: hidden;
}

.login_box_img img {
  width: 100%;
}

.login_input_wrap {
  width: 100%;
  height: 80%;
  padding: 20px 0px 0px 0px;
}

.login_input {
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 2px 2px rgba(119, 136, 153, 0.1);
}

.login_input_contents_wrap {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
}

.login_input_contents_input_id {
  height: 25%;
}

.login_input_contents_title {
  font-size: 0.8rem;
  font-weight: 900;
  padding: 3px 0px 3px 0px;
}

.login_input_contents_input_box {
  height: 33px;
}

input {
  width: 100%;
  height: 100%;
  border: 1px solid dimgrey;
  border-radius: 5px;
  transition: 0.5s all ease;
}

input:focus {
  outline-color: var(--bg-color);
}

.login_input_contents_input_pw {
  height: 20%;
}

.input_btn1 {
  padding: 10px 0px 10px 0px;
  font-weight: 700;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  color: dimgrey;
}

.sign_up {
  font-size: 0.75rem;
}

#sign_up {
  padding-left: 5px;
  font-weight: 900;
}

.input_btn2 {
  padding: 10px 0px 10px 0px;
}

button {
  width: 100%;
  height: 33px;
  border: 1px solid var(--bg-color);
  background-color: var(--color2);
  color: var(--bg-color);
  border-radius: 5px;
  transition: 0.5s all ease;
}

button:hover {
  background-color: var(--bg-color);
  color: var(--color2);
  cursor: pointer;
}

.divide_line {
  display: flex;
  flex-direction: row;
}

.divide_line_item {
  width: 33%;
}

.text {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 900;
}

.naver {
  padding: 20px 0px;
}

#naverIdLogin {
  border: 1px solid green;
  color: green;
}

#naverIdLogin:hover {
  border: 1px solid green;
  background-color: green;
  color: var(--color2);
}