/* bg */
.bg {
  padding-top: 10px;
  position: relative;
  width: 1260px;
  margin: 0 auto;
  height: 575px;
}

.bg_top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: url("/images/back.jpg");
  background-size: 100%;
  opacity: 80%;
  z-index: -1;
}

.bg_bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 225px;
  top: 200px;
  background-color: var(--bg-color2);
  z-index: -1;
}

.user_profile {
  position: relative;
}

.profile_photo_area {
  position: absolute;
  top: 125px;
  left: 125px;
}

.profile_photo {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
  border: 5px solid var(--color2);
}

.profile_photo img {
  width: 100%;
  height: 100%;
}

.profile_btn_area {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 220px;
  right: 60px;
}

.profile_btn {
  display: flex;
  width: 200px;
  height: 100%;
}

.btn_item {
  border: none;
  width: 200px;
}

button {
  width: 200px;
  height: 35px;
  font-size: 0.8rem;
}

#showProfile {
  border: 1px solid var(--color1);
  background-color: var(--color2);
  color: var(--color1);
}

#showProfile:hover {
  border: 1px solid var(--color1);
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}

#leaveMember {
  border: 1px solid tomato;
  background-color: var(--color2);
  color: tomato;
}

#leaveMember:hover {
  border: 1px solid tomato;
  background-color: tomato;
  color: var(--color2);
  cursor: pointer;
}

.profile_desc_area {
  position: absolute;
  top: 300px;
  left: 125px;
}

#profile_name_text {
  font-size: 1.5rem;
  font-weight: 900;
}

.profile_dashboard {
  position: absolute;
  width: 85%;
  height: 180px;
  top: 350px;
  left: 125px;
  background-color: var(--color2);
  border: 1px solid var(--bg-color5);
  box-shadow: 3px 3px 3px 3px var(--bg-color2);
}

.profile_dashboard_contents_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile_dashboard_contents {
  width: 20%;
  height: 60%;
  display: flex;
  flex-direction: row;
}

.profile_dashboard_contents:nth-of-type(1) {
  border: 1px solid var(--color2);
  background-color: dodgerblue;
  color: var(--color2);
  box-shadow: 3px 3px 1px 1px rgba(30, 144, 255, 0.5);
}

.profile_dashboard_contents:nth-of-type(2) {
  border: 1px solid var(--color2);
  background-color: #65cdaa;
  color: var(--color2);
  box-shadow: 3px 3px 1px 1px rgba(102, 205, 170, 0.5);
}

.profile_dashboard_contents:nth-of-type(3) {
  border: 1px solid var(--color2);
  background-color: tomato;
  color: var(--color2);
  box-shadow: 3px 3px 1px 1px rgba(255, 99, 71, 0.5);
}

.profile_dashboard_contents:nth-of-type(4) {
  border: 1px solid var(--color2);
  background-color: orange;
  color: var(--color2);
  box-shadow: 3px 3px 1px 1px rgba(255, 165, 0, 0.5);
}

.profile_dashboard_contents_icon {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.profile_dashboard_contents_desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_dashboard_contents_desc_title {
  font-size: 1rem;
}

.profile_dashboard_contents_desc_no {
  font-size: 1.5rem;
  font-weight: 900;
}
/* bg end */

/* container */
.container {
  width: 1260px;
  height: fit-content;
  margin: 0 auto;
  padding: 0px 0px 0px 30px;
}

.myclub_list_title_text {
  font-size: 1.2rem;
  padding: 10px 0px 10px 0px;
  font-weight: 600;
}

.myclub_list_wrap {
  height: 100%;
  padding: 0px 20px 30px 20px;
  border: 1px solid var(--bg-color5);
}

.myclub_list {
  height: 100%;
  padding: 0px 0px 10px 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.myclub_list_box_wrap {
  width: 20%;
  height: 300px;
  display: flex;
  padding: 20px 10px 20px 10px;
}

.myclub_list_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border: 1px solid var(--color1);
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px;
  font-size: 0.8rem;
}

#my {
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

#join {
  border: 1px solid mediumaquamarine;
  color: mediumaquamarine;
}

#like {
  border: 1px solid tomato;
  color: tomato;
}
/* container end */