/* All */
:root {
  --color1 : #1e1f21;
  --color2 : #ffffff;
  --color3 : #181818;
  --bg-color : rgba(158, 128, 247, 0.9);
  --bg-color2 :rgba(184, 166, 189, 0.05);
  --bg-color3 : rgba(0, 0, 0, 0.8);
  --bg-color4 : #f8f8f8;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

div {
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
/* All end */

/* header */
.header {
  width: 100%;
}

.header_inner {
  width: 1260px;
  margin: 0 auto;
}

.header_inner_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 5px 10px 5px;
}

.logo {
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.login_list {
  display: flex;
  list-style-type: none;
}

#login_id {
  font-size: 0.8rem;
  font-weight: 800;
  padding: 5px 30px 5px 5px;
}

.login_list_item {
  font-size: 0.8rem;
  font-weight: 800;
  padding: 5px 10px 5px 5px;
}

.login_list_item:hover {
  color: var(--bg-color);
  cursor: pointer;
}

.header_inner_bottom { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px 3px 0px;
}

.menu_list {
  display: flex;
  list-style-type: none;
}

.menu_list_item {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 30px 5px 5px;
}

.menu_list_item:hover {
  cursor: pointer;
}

.icon_list {
  display: flex;
  list-style-type: none;
  width: fit-content;
}

.icon_list_item {
  font-size: 1.1rem;
  font-weight: 900;
  padding: 5px 10px 5px 5px;
}

.icon_list_item:hover {
  cursor: pointer;
}
/* header end */

/* main_bg */
.main_bg {
  width: 100%;
  height: 425px;
  position: relative;
}

.main_bg_top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: var(--bg-color);
  z-index: -1;
}

.main_bg_bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  top: 170px;
  background-color: var(--bg-color2);
  z-index: -1;
}

.main_bg_inner_box {
  width: 1260px;
  height: 350px;
  margin: auto;
  background-color: var(--color2);
  position: relative;
  top: 35px;
  z-index: 5;
  box-shadow: 3px 3px 3px 3px var(--bg-color2);
  padding: 20px 20px 20px 20px;
}

.main_bg_inner_wrap {
  /* border: 1px solid var(--color1); */
  width: 100%;
  height: 100%;
  
}

.main_bg_inner_top {
  /* border: 1px solid var(--color1); */
  height: 15%;
  display: flex;
  align-items: center;
}

.main_bg_inner_top_list {
  display: flex;
  list-style-type: none;
}

.main_bg_inner_top_list_item {
  padding: 5px 10px 0px 10px;
  font-weight: 900;
}

.main_bg_inner_bottom {
  /* border: 1px solid var(--color1); */
  height: 85%;
  display: flex;
  overflow: hidden;
}

.main_bg_inner_bottom_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  position: relative;
  transition: all 1s ease;
}

.main_bg_inner_bottom_list_item_wrap {
  padding: 0px 10px 0px 0px;
}

.main_bg_inner_bottom_list_item {
  border: 1px solid var(--color1);
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.arrow {
  position: absolute;
  font-size: 1.5rem;
  z-index: 5;
}

.arrow:hover {
  cursor: pointer;
  color: var(--bg-color);
}

#right {
  top: 170px;
  right: 20px;
}

#left {
  top: 170px;
  left: 20px;
}
/* main_bg end */

/* hobby1st_dashboard */
.hobby1st_dashboard {
  width: 100%;
}

.hobby1st_dashboard_inner {
  width: 1260px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby1st_dashboard_inner_text {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard {
  font-size: 1.5rem;
}

#dashboard2 {
  font-size: 1.2rem;
}
/* hobby1st_dashboard end */

/* create_hobby1st_club */
.create_hobby1st_club {
  width: 100%;
}

.create_hobby1st_club_inner {
  width: 1260px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_hobby1st_club_inner input[type="button"] {
  width: 500px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid var(--bg-color);
  color: var(--bg-color);
}

.create_hobby1st_club_inner input[type="button"]:hover {
  font-size: 1.2rem;
  background-color: var(--bg-color);
  color: var(--color2);
  cursor: pointer;
}
/* create_hobby1st_club end */

/* search_area */
.search_area {
  width: 100%;
  height: 150px;
}

.search_area_inner {
  width: 1260px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input_area {
  width: 80%;
  height: 50%;
  display: flex;
}

.search_input_area_text {
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-color);
}

.search_input_area_text input {
  width: 100%;
  height: 70%;
  font-size: 2rem;
  border: none;
  padding: 20px;
}

.search_input_area_text input:focus {
  outline: none;
}

.search_input_area_text input::placeholder {
  color: lavender;
}

.search_input_area_btn {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--bg-color);
  color: var(--color2);
}

.search_input_area_btn i {
  font-size: 2rem;
}

.search_input_area_btn i:hover {
  cursor: pointer;
}
/* search_area end */

/* search_result */
.search_result {
  width: 100%;
}

.search_result_inner {
  width: 1260px;
  margin: 0 auto;
  height: fit-content;
}
/* search_result end */

/* container */
.container {
  height: fit-content;
}

.fav_club_list_title, hr {
  width: 1260px;
  margin: 0 auto;
}

.fav_club_list_title_text {
  padding: 10px 0px 10px 50px;
}

.fav_club_list_wrap {
  width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fav_club_list_row {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
}

.fav_club_list_item_wrap {
  padding: 0px 20px;
}

.fav_club_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.fav_club_list_item {
  border: 1px solid var(--color1);
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fav_club_list_add_btn {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav_club_list_add_btn input[type="button"]{
  width: 150px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid var(--color1);
  color: var(--color1);
}
.fav_club_list_add_btn input[type="button"]:hover {
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}
/* container end */

/* links */

.links {
  width: 100%;
  background-color: var(--bg-color4);
  
}

.links_inner {
  width: 1260px;
  margin: 0 auto;
}

.links_inner_list {
  display: flex;
  padding: 5px 100px;
  justify-content: space-between;
  list-style-type: none;
  font-size: 0.8rem;
}
/* linkes end */

/* footer */
.footer {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 30px 0px 30px 0px;
  background-color: var(--bg-color4);
}

.footer_inner {
  width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer_inner img {
  width: 150px;
}

.footer_contents {
  padding-left: 30px;
}

.footer_desc_list {
  list-style-type: none;
  font-size: 0.7rem;
}

/* footer end */

/* modal */
.modal_bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--color1);
  opacity: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}

.loginForm {
  width: 525px;
  height: 525px;
  border: 1px solid var(--color1);
  background-color: var(--color2);
  position: fixed;
  top: 20%;
  left: 41%;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: none;
  justify-content: center;
  align-items: center;
}

.logininput_wrap {
  width: 500px;
  height: 500px;
  border: 1px solid var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: relative;
}

#close_btn i {
  font-size: 2rem;
  color: red;
  position: absolute;
  top: 0;
  left: 470px;
  
}

#close_btn:hover {
  cursor: pointer;
}
/* modal end */