/* main_bg */
.main_bg {
  width: 100%;
  height: 450px;
  position: relative;
}

.main_bg_top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 215px;
  background-color: var(--bg-color);
  z-index: -1;
}

.main_bg_bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 215px;
  top: 215px;
  background-color: var(--bg-color2);
  z-index: -1;
}

.main_bg_inner_box {
  width: 1260px;
  height: 350px;
  margin: auto;
  background-color: var(--color2);
  position: relative;
  top: 35px;
  z-index: 5;
  box-shadow: 3px 3px 3px 3px var(--bg-color2);
  padding: 20px 20px 20px 20px;
}

.main_bg_inner_wrap {
  /* border: 1px solid var(--color1); */
  width: 100%;
  height: 100%;
  
}

.main_bg_inner_top {
  /* border: 1px solid var(--color1); */
  height: 10%;
  display: flex;
  align-items: center;
}

.main_bg_inner_top_list {
  display: flex;
  list-style-type: none;
  padding-left: 20px;
}

.main_bg_inner_top_list:hover {
  cursor: pointer;
}

.main_bg_inner_top_list_item {
  padding: 5px 10px 5px 10px;
  font-weight: 900;
  font-size : 0.9rem;
}

.main_bg_inner_bottom {
  /* border: 1px solid var(--color1); */
  height: 90%;
  display: flex;
  overflow: hidden;
}

.main_bg_inner_bottom_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  position: relative;
  transition: all 1s ease;
}

.main_bg_inner_bottom_list_item_wrap {
  padding: 0px 20px 0px 20px;
}

.main_bg_inner_bottom_list_item {
  border: 1px solid var(--color1);
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  padding: 0px 0px 15px 0px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px;
  font-size: 0.7rem;
  font-weight: 900;
}

.likeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  color: tomato;	
}

#theme1 {
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.arrow {
  position: absolute;
  font-size: 1.5rem;
  z-index: 5;
}

.arrow:hover {
  cursor: pointer;
  color: var(--bg-color);
}

#right {
  top: 50%;
  right: 10px;
}

#left {
  top: 50%;
  left: 10px;
}
/* main_bg end */

/* hobby1st_dashboard */
.hobby1st_dashboard {
  width: 100%;
}

.hobby1st_dashboard_inner {
  width: 1260px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby1st_dashboard_inner_text {
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard {
  font-size: 2rem;
  font-weight: 900;
}

#dashboard2 {
  font-size: 1.5rem;
  font-weight: 900;
}
/* hobby1st_dashboard end */

/* vote_preview */
.vote_preview {
  width: 1260px;
  margin: 0px auto;
  min-height: 400px;

  padding: 10px 10px; 
  border: 1px solid dimgray;
  margin-bottom: 30px;
}

.vote_preview_title {
  width: 1260px;
  margin: 0 auto;
}

.vote_preview_title_text {
  padding: 10px 0px 10px 0px;
}

/* vote_preview end */

/* container */
.container {
  height: fit-content;
}

.fav_club_list_title {
  width: 1260px;
  margin: 0 auto;
}

.fav_club_list_title_text {
  padding: 10px 0px 10px 0px;
}

.fav_club_list_wrap {
  width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav_club_list_row {
  width: 1260px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 20px 30px;
}

.fav_club_list_item_wrap {
  padding: 0px 20px;
}

.fav_club_list_item {
  border: 1px solid var(--color1);
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  padding: 0px 0px 15px 0px;
}

.fav_club_list_add_btn {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav_club_list_add_btn input[type="button"]{
  width: 150px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid var(--color1);
  color: var(--color1);
}

.fav_club_list_add_btn input[type="button"]:hover {
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
}
/* container end */
