<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="calendar">
   <insert id="insert">
   insert into calendar values(#{club},#{day_start},
   #{day_end},#{title})
   </insert>
   
   	<select id="selectAll" resultType="kh.hobby1st.dto.CalendarDateDTO">
		select*from calendar where club=#{club_cl_name}
	</select>
	
	<select id="search" resultType="int">
	    select count(*) from calendar where month=#{month} and &quot;date&quot;=#{date} and value=#{value}
	</select>
	
	<delete id="delete">
	    delete from calendar where club=#{club_cl_name} and title=#{title}
	</delete>
</mapper>