<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="Chat">
  	<insert id="insertChatIntoDB">
  		insert into chat values(chat_seq.nextval, #{chat_cl_id}, #{chat_cl_name}, #{chat_contents}, #{chat_writer}, sysdate)
  	</insert>
  	
  	<select id="chatSelectAll" resultType="kh.hobby1st.dto.ChatDTO">
  		select * from chat order by chat_seq asc
  	</select>
  </mapper>