<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Chat">
	<insert id="insertChatIntoDB">
		insert into chat values(chat_seq.nextval,
		#{chat_cl_id}, #{chat_cl_name},
		#{chat_contents}, #{chat_writer},
		#{chat_writer_id}, sysdate)
	</insert>

	<select id="chatSelectAll" resultType="kh.hobby1st.dto.ChatDTO">
		select * from chat where chat_cl_id = #{value} order
		by chat_seq asc
	</select>

	<select id="whoIsLastChat" resultType="kh.hobby1st.dto.ChatDTO">
		SELECT * FROM
		(SELECT *FROM
		chat ORDER BY chat_seq DESC)
		WHERE ROWNUM= 1 AND CHAT_CL_ID = #{value}
	</select>

	<select id="getUserProfile" resultType="String">
		select mem_photo from
		member where mem_id = #{mem_id}
	</select>

	<select id="selectAll" resultType="map">
		select c.*, m.mem_photo from
		(select * from chat where chat_cl_id = #{cl_id}) c, member m where
		c.chat_writer_id = #{user_id}
	</select>

	<select id="isThisMyChat" resultType="int">
		select max(chat_seq) from
		chat where #{value} =
		(select chat_writer from chat where chat_seq =
		(select max(chat_seq) from chat))
	</select>
</mapper>