<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  <mapper namespace="ClubBoardRec">
  	
  	<select id="checkRec" resultType="int">
   		select count(*) from club_board_rec where cb_seq = #{cb_seq} and rec_id = #{rec_id}
   	</select>
   	
   	<!-- 추천 -->
  	<insert id="insertRec">
  		insert into club_board_rec values(#{cb_seq}, #{rec_id})
  	</insert>
   	
   	<delete id="deleteRec">
   		delete from club_board_rec where cb_seq = #{cb_seq} and rec_id = #{rec_id}
   	</delete>
  	
	<update id="updateRec">
		update club_board set cb_like_count = (select count(*) from club_board_rec where cb_seq = #{value}) where cb_seq = #{value}
	</update>
	
	<select id="recCount" resultType="int">
  		select cb_like_count from club_board where cb_seq = #{value}
  	</select>
  	
  	
  </mapper>