<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="JoinState">
  	<insert id="requestJoin">
  		insert into club_join_state values(club_join_state_seq.nextval, #{cs_board_seq}, #{cs_boss_name}, #{cs_join_name}, 1)
  	</insert>
  
  
  </mapper>
