<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  <mapper namespace="ClubBoard">
  	<insert id="insertBoard">
  		insert into club_board values(#{cb_club_id}, club_board_seq.nextval, #{cb_writer}, #{cb_title}, #{cb_contents}, null, sysdate, default, default, default,#{cb_nickname})
   	</insert>
   	
   	<select id="selectBoard" resultType="kh.hobby1st.dto.ClubBoardDTO">
   		select * from (select club_board.*, row_number() over(order by cb_seq desc) rn from club_board where cb_club_id = #{club_board_id}) where rn between #{start} and #{end}
   	</select>
   	
   	<select id="RecordCount" resultType="int">
 		select count(*) from (select club_board.*, row_number() over(order by cb_seq desc) rn from club_board where cb_club_id = #{seq})
 	</select>
 	
 	<select id="boardDetail" resultType="kh.hobby1st.dto.ClubBoardDTO">
 		select * from club_board where cb_seq = #{value}
 	</select>
 	
 	<!-- 조회수 증가 -->
 	<update id="increaseView">
 		update club_board set cb_view_count = cb_view_count + 1 where cb_seq = #{value}
 	</update>
  	
  	<!-- 게시판 삭제 -->
  	<delete id="deleteBoard">
  		delete from club_board where cb_seq = #{value}
  	</delete>
  	
  	<!-- 게시판 수정 -->
  	<update id="modifyBoard">
  		update club_board set cb_title = #{cb_title},  cb_contents = #{cb_contents}, cb_write_date = sysdate where cb_seq = #{cb_seq}
  	</update>
  	
  	<!-- 게시판 제목 검색 -->
  	<select id="searchTitle" resultType="kh.hobby1st.dto.ClubBoardDTO">
  		select * from (select club_board.*, row_number() over(order by cb_seq desc) rn from club_board where cb_club_id = #{club_board_id} and cb_title like '%'|| #{searchWord}||'%') where rn between #{start} and #{end}
  	</select>
  	
  	<!-- 게시판  작성자 검색 -->
  	<select id="searchWriter" resultType="kh.hobby1st.dto.ClubBoardDTO">
  		select * from (select club_board.*, row_number() over(order by cb_seq desc) rn from club_board where cb_club_id = #{club_board_id} and cb_nickname = #{searchWord}) where rn between #{start} and #{end}
  	</select>
  	
  	<!-- 제목 검색시 총 개수 -->
  	<select id="searchTitleCount" resultType="int">
 		select count(*) from club_board where cb_club_id = #{club_board_id} and cb_title like '%'|| #{searchWord}||'%'
 	</select>
 	
 	<!-- 작성자 검색시 총 개수 -->
  	<select id="searchWriterCount" resultType="int">
 		select count(*) from club_board where cb_club_id = #{club_board_id} and cb_nickname = #{searchWord}
 	</select>
 	
 	<!-- 게시판 작성자 프로필 가져오기 -->
 	<select id="writerProfile" resultType="String">
 		select m.mem_photo from member m ,(select * from club_board where cb_seq = #{value}) b where m.mem_id = b.cb_writer
 	</select>
 	
  	<!-- 게시판 게시물 전체 출력 ( 페이징 적용 X) -->
  	<select id="selectAll" resultType="kh.hobby1st.dto.ClubBoardDTO">
  		select * from club_board
  	</select> 
  	
  	
  </mapper>