<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  <mapper namespace="ClubMember">
  	<select id="memberInfor" resultType="kh.hobby1st.dto.MemberDTO">
  		select * from (select m.*,cm.cm_seq,row_number() over(order by cm.cm_seq) rn from member m join club_member cm on(m.mem_id = cm.cm_mem_id) where cm.cm_par_seq = #{seq}) where rn between #{start} and #{end}
  	</select>
  	
  	<select id="clubMemberInfor" resultType="kh.hobby1st.dto.ClubMemberDTO">
  		select * from (select m.*, cm.*, row_number() over(order by cm.cm_seq) rn from member m join club_member cm on(m.mem_id = cm.cm_mem_id) where cm.cm_par_seq = #{seq}) where rn between #{start} and #{end}
  	</select>
  	
  	<select id="RecordCount" resultType="int">
 		select count(*) from member m join club_member cm on(m.mem_id = cm.cm_mem_id) where cm.cm_par_seq = #{seq}
 	</select>
 	
 	<delete id="deleteMember">
		delete from club_member where cm_mem_id = #{value}
	</delete>
	
	
	<select id="TotalClubMember" resultType="int">
 		select count(*) from club_member
 	</select>
 	
 	<!-- 해당 동호회 회원 정보 받아오기 -->
 	<select id="clubMemberInfo" resultType="kh.hobby1st.dto.ClubMemberDTO">
 		select m.* from member m join club_member c on (m.mem_id = c.cm_mem_id) where c.cm_par_seq = #{value}
 	</select>
  	
  	
  	
  </mapper>