<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ClubCategory">
  
  
 	<select id="selectCategoryList" resultType="kh.hobby1st.dto.ClubCategoryDTO">
 		select cc_category_name from club_category
 	</select>
  
  
  
  
  
  
  
  
  
  
  </mapper>