<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClubList">

	<insert id="createClub">
		insert into clublist values(clublist_seq.nextval, #{cl_name}, #{cl_desc},
		#{cl_boss_id}, #{cl_boss_name}, #{cl_maxMem}, #{cl_local}, default,
		default, #{cl_photo}, #{cl_category_id}, #{cl_dCategory_id})
	</insert>
	
	<select id="nameCheck" resultType="int">
		select count(*) from clubList where cl_name = #{cl_name}
	</select>
</mapper>