<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClubList">

	<!-- 동호회 수 -->
	<select id="countClub" resultType="int">
		select count(*) cl_count from
		clublist
	</select>
	
	
	<!-- 동호회 -->

	<insert id="createClub">
		insert into clublist values(clublist_seq.nextval, #{cl_name},
		#{cl_desc},
		#{cl_boss_id}, #{cl_boss_name}, #{cl_maxMem}, #{cl_local},
		default,
		default, #{cl_category_id}, #{cl_dCategory_id}, default)

		<selectKey resultType="int" order="AFTER"
			keyProperty="cl_id">
			select clublist_seq.currval from dual
		</selectKey>
	</insert>

	<select id="nameCheck" resultType="int">
		select count(*) from clubList
		where cl_name = #{cl_name}
	</select>

	<select id="selectAll" resultType="map">
		select cl.*, clp.clp_photo
		from clublist cl, clublist_photo clp where cl.cl_id = clp.clp_id
	</select>

	<select id="selectClub" resultType="map">
	select clublist.*, clp_photo from clublist,(select * from clublist_photo where clp_id =${value}) where cl_id = ${value}
	</select>

	<select id="searchClub" resultType="kh.hobby1st.dto.ClubListDTO">
		select * from clublist where
		${column} like '%' || #{value} || '%'
	</select>

</mapper>