<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  <mapper namespace="ClubBoardReply">
  	
  	<!-- 댓글 삽입 -->
  	<insert id="insertReply">
  		insert into club_board_reply values(#{cbr_par_seq}, club_board_reply_seq.nextval, 0, #{cbr_writer}, #{cbr_reply}, sysdate,0)
  	</insert>
  	
  	<!-- 대댓글 삽입 -->
  	<insert id="insertReply_rec">
  		insert into club_board_reply values(#{cbr_par_seq}, #{cbr_seq}, club_board_reply_seq_r.nextval, #{cbr_writer}, #{cbr_reply}, sysdate,1)
  	</insert>
  	
  	
  	<select id="selectReply" resultType="kh.hobby1st.dto.ClubBoardReplyDTO">
   		select * from club_board_reply where cbr_par_seq = #{value} order by 2, cbr_r_seq
   	</select>
   	
   	<delete id="deleteReply">
   		delete from club_board_reply where cbr_seq = #{value}
   	</delete>
  	
  	<select id="replyCount" resultType="int">
  		select count(*) from club_board_reply where cbr_par_seq  = #{value}
  	</select>
  	
	<update id="plusReply">
		update club_board set cb_reply_count = cb_reply_count + 1 where cb_seq =#{value}
	</update>
	
	<update id="minusReply">
		update club_board set cb_reply_count = cb_reply_count - 1 where cb_seq =#{value}
	</update>
  	
  	
  	
  	
  </mapper>