<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClubList">

	<!-- 동호회 수 -->
	<select id="countClub" resultType="int">
		select count(*) cl_count from
		club_list
	</select>
	
	
	<!-- 동호회 -->

	<insert id="createClub">
		insert into club_list values(clublist_seq.nextval, #{cl_name},
		#{cl_desc},
		#{cl_boss_id}, #{cl_boss_name}, #{cl_maxMem}, #{cl_local},
		default,
		default, #{cl_category_id}, #{cl_dCategory_id}, default, #{cl_photo})

		<selectKey resultType="int" order="AFTER"
			keyProperty="cl_id">
			select clublist_seq.currval from dual
		</selectKey>
	</insert>

	<select id="nameCheck" resultType="int">
		select count(*) from club_list
		where cl_name = #{cl_name}
	</select>

	<select id="selectAll" resultType="map">
		select * from club_list
	</select>
	
	<select id="selectSplit" resultType="kh.hobby1st.dto.ClubListDTO">
		select * from (select club_list.*, row_number() over (order by cl_id asc) rn from club_list)
								where rn between #{start} and #{end}
	</select>

	<select id="selectClub" resultType="kh.hobby1st.dto.ClubListDTO">
		select * from club_list where cl_id = ${value}
	</select>

	<select id="searchClub" resultType="kh.hobby1st.dto.ClubListDTO">
		select * from club_list where
		${column} like '%' || #{value} || '%'
	</select>
	
	<!-- 해당 동호회 가입 여부 확인 -->
	<select id="checkMember" resultType="int">
		select count(*) from club_list l join club_member m on (l.cl_id = m.cm_par_seq) where m.cm_mem_id = #{mem_id} and l.cl_id = #{cl_id}
	</select>
	
	<!-- 해당 동호회 클럽장인지 여부 -->
	<select id="checkClubBoss" resultType="int">
		select count(*) from club_list where cl_boss_id = #{mem_id} and cl_id = #{cl_id}
	</select>
	
	<!-- 추천 관련 -->
	
	<!-- 아이디 중복 체크 -->
	<select id="checkRec" resultType="int">
   		select count(*) from club_list_rec where cl_seq = #{cl_id} and rec_id = #{rec_id}
   	</select>
   	
   	<!-- 추천 -->
  	<insert id="insertRec">
  		insert into club_list_rec values(#{cl_id}, #{rec_id})
  	</insert>
   	
   	<!-- 추천 취소 -->
   	<delete id="deleteRec">
   		delete from club_list_rec where cl_seq = #{cl_id} and rec_id = #{rec_id}
   	</delete>
  	
  	<!-- 추천수 갱신 -->
	<update id="updateRec">
		update club_list set cl_rec_count = (select count(*) from club_list_rec where cl_seq = #{value}) where cl_id = #{value}
	</update>
	
	<!-- 추천수 조회 -->
	<select id="recCount" resultType="int">
  		select cl_rec_count from club_list where cl_id = #{value}
  	</select>
  	
  	<!-- 관심있는 동호회 목록 출력  -->
  	<select id="interestClubList" resultType="kh.hobby1st.dto.ClubListDTO">
		select c.* from club_list c, club_list_rec l where c.cl_id = l.cl_seq and l.rec_id = #{value} order by cl_id
	</select>
  	
  	<!-- 관심있는 동호회 없는 출력  -->
	<select id="notInterestClubList" resultType="kh.hobby1st.dto.ClubListDTO">
		select * from (select distinct c.*, row_number() over (order by cl_id) rn
		from club_list c 
		where c.cl_id not in (select cl_id from club_list c, club_list_rec l where c.cl_id = l.cl_seq and l.rec_id = #{rec_id}) order by 1) 
		where rn between #{start} and #{end}
	</select>
	
	<!-- 동호회 가입 시 인원 수 증가 -->
	<update id="plusMemCount">
		update club_list set cl_memcount = cl_memcount + 1 where cl_id = #{value}
	</update>
	
	<!-- 동호회 가입 시 인원 수 감소 -->
	<update id="minusMemCount">
		update club_list set cl_memcount = cl_memcount - 1 where cl_id = #{value}
	</update>
	
	<!-- 대분류 클릭시 해당 동호회 리스트 불러오기 (인원수 기준 정렬) -->
	<select id="interestClubList" resultType="kh.hobby1st.dto.ClubListDTO">
		select * from club_list where cl_category_id = #{value} order by cl_memcount desc;
	</select>
	
</mapper>