<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  <mapper namespace="ClubBoard">
  	<insert id="insertBoard">
  		insert into club_board values(#{cb_club_id}, club_board_seq.nextval, #{cb_writer}, #{cb_title}, #{cb_contents}, null, sysdate, default, default, default)
   	</insert>
   	
   	<select id="selectBoard" resultType="kh.hobby1st.dto.ClubBoardDTO">
   		select * from (select club_board.*, row_number() over(order by cb_seq desc) rn from club_board where cb_club_id = #{cb_seq}) where rn between #{start} and #{end}
   	</select>
   	
   	<select id="RecordCount" resultType="int">
 		select count(*) from (select club_board.*, row_number() over(order by cb_seq desc) rn from club_board where cb_club_id = #{seq})
 	</select>
 	
 	<select id="boardDetail" resultType="kh.hobby1st.dto.ClubBoardDTO">
 		select * from club_board where cb_seq = #{value}
 	</select>
 	
 	<update id="increaseView">
 		update club_board set cb_view_count = cb_view_count + 1 where cb_seq = #{value}
 	</update>
  	
  	
  </mapper>