<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insert">
		insert into member
		values(#{mem_id},#{mem_pass},#{mem_phone},
		#{mem_email},#{mem_name},#{mem_nickname},#{mem_birthday},#{mem_gender},#{mem_address},
		#{mem_category_1},#{mem_category_2},#{mem_photo},default)
	</insert>

	<select id="login" resultType="Integer">
		select count(*) from member where
		mem_id = #{mem_id} and mem_pass = #{mem_pass}
	</select>
	
	<!--  관리자 로그인 -->
	<select id="adminLogin" resultType="Integer">
		select count(*) from ad where ad_id = #{mem_id} and ad_pass = #{mem_pass}
	</select>
	
	<select id="id_check" resultType="Integer">
		select count(*) from member where mem_id = #{id}
	</select>
	
	<select id="naver_idCheck" resultType="Integer">
	    select count(*) from member where mem_id = #{naver_id}
	</select>
	
	<select id="totalMember" resultType="int">
	    select count(*) from member
	</select>
	
    <select id="selectOne" resultType="kh.hobby1st.dto.MemberDTO">
		select * from member where mem_id = #{id}
	</select>
	
	<select id="selectEmaile" resultType="kh.hobby1st.dto.MemberDTO">
		select * from member where mem_email = #{email}
	</select>
	
	<select id="email_check" resultType="Integer">
	    select count(*) from member where mem_email = #{email}
	</select>
	
	<!--  회원가입 된 모든 멤버 출력 -->
	<select id="selectAll" resultType="kh.hobby1st.dto.MemberDTO">
		select * from member
	</select>
	
	<!--  관리자 페이지 회원 추방  -->
	<delete id="signOut">
		delete from member where mem_id = #{value}
	</delete>
	
	<!-- 회원 정보 수정 -->
	<update id="modifyMember">
		update member set mem_pass = #{mem_pass}, mem_phone = #{mem_phone}, mem_email = #{mem_email}, mem_nickname = #{mem_nickname}, mem_address = #{mem_address}, mem_category_1 = #{mem_category_1}, mem_category_2 = #{mem_category_2}, mem_photo = #{mem_photo} where mem_id = #{mem_id}
	</update>
	
	<!-- 회원 정보 수정 (사진 제외) -->
	<update id="modifyMemberP">
		update member set mem_pass = #{mem_pass}, mem_phone = #{mem_phone}, mem_email = #{mem_email}, mem_nickname = #{mem_nickname}, mem_address = #{mem_address}, mem_category_1 = #{mem_category_1}, mem_category_2 = #{mem_category_2} where mem_id = #{mem_id}
	</update>
	
	<!-- 관리자 페이지에서 멤버 리스트 페이지용 -->
	<select id="MemberListByPaging" resultType="kh.hobby1st.dto.MemberDTO">
		select * from (select member.*, row_number() over(order by mem_id desc) rn from member) where rn between ${start} and #{end}
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="leaveMember">
		delete from member where mem_id = #{value}
	</delete>
	
	<!-- 관리자페이지 오늘 가입 회원 수 -->
	<select id="newMember" resultType="int">
		select count(*) from member where mem_lastlogin = to_char(sysdate,'yyyy-mm-dd')
	</select>
	
	<!-- 관리자페이지 지난주 총 회원 수 -->
	<select id="lastMember" resultType="int">
	SELECT count(*)
    FROM member 
    WHERE mem_lastlogin BETWEEN TO_DATE('220101', 'YY/MM/DD') AND TRUNC(sysdate,'IW')-7 + 7
	</select>
	
	<!-- 지난주 월요일 가입자 수 -->
	<select id="lastMonday" resultType="int">
	select count(*) from member where to_char(mem_lastlogin, 'yyyymmdd') =
        to_char(trunc(sysdate,'iw')-7, 'yyyymmdd')
	</select>
	
	<!-- 지난주 화요일 가입자 수 -->
	<select id="lastTuesday" resultType="int">
	select count(*) from member where to_char(mem_lastlogin, 'yyyymmdd') =
        to_char(trunc(sysdate,'iw')-6, 'yyyymmdd')
	</select>
	
	<!-- 지난주 수요일 가입자 수 -->
	<select id="lastWednesday" resultType="int">
	select count(*) from member where to_char(mem_lastlogin, 'yyyymmdd') =
        to_char(trunc(sysdate,'iw')-5, 'yyyymmdd')
	</select>
		
	<!-- 지난주 목요일 가입자 수 -->
	<select id="lastThurseday" resultType="int">
	select count(*) from member where to_char(mem_lastlogin, 'yyyymmdd') =
        to_char(trunc(sysdate,'iw')-4, 'yyyymmdd')
	</select>
		
	<!-- 지난주 금요일 가입자 수 -->
	<select id="lastFriday" resultType="int">
	select count(*) from member where to_char(mem_lastlogin, 'yyyymmdd') =
        to_char(trunc(sysdate,'iw')-3, 'yyyymmdd')
	</select>
		
	<!-- 지난주 토요일 가입자 수 -->
	<select id="lastSaturday" resultType="int">
	select count(*) from member where to_char(mem_lastlogin, 'yyyymmdd') =
        to_char(trunc(sysdate,'iw')-2, 'yyyymmdd')
	</select>
		
	<!-- 지난주 일요일 가입자 수 -->
	<select id="lastSunday" resultType="int">
	select count(*) from member where to_char(mem_lastlogin, 'yyyymmdd') =
        to_char(trunc(sysdate,'iw')-1, 'yyyymmdd')
	</select>
	
	
	
	
	
	
	
</mapper>