<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insert">
		insert into member
		values(#{mem_id},#{mem_pass},#{mem_phone},
		#{mem_email},#{mem_name},#{mem_nickname},#{mem_birthday},#{mem_gender},#{mem_address},
		#{mem_category_1},#{mem_category_2},#{mem_photo},default)
	</insert>

	<select id="login" resultType="Integer">
		select count(*) from member where
		mem_id = #{mem_id} and mem_pass = #{mem_pass}
	</select>
	
	<select id="id_check" resultType="Integer">
		select count(*) from member where mem_id = #{id}
	</select>
	
	<select id="naver_idCheck" resultType="Integer">
	    select count(*) from member where mem_id = #{naver_id}
	</select>
	
	<select id="totalMember" resultType="int">
	    select count(*) from member
	</select>
	
    <select id="selectOne" resultType="kh.hobby1st.dto.MemberDTO">
		select * from member where mem_id = #{id}
	</select>
	
	<select id="email_check" resultType="Integer">
	    select count(*) from member where mem_email = #{email}
	</select>
	
	<!--  회원가입 된 모든 멤버 출력 -->
	<select id="selectAll" resultType="kh.hobby1st.dto.MemberDTO">
		select * from member
	</select>
	
	<!--  관리자 페이지 회원 추방  -->
	<delete id="signOut">
		delete from member where mem_id = #{value}
	</delete>
</mapper>