<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insert">
		insert into member
		values(#{mem_id},#{mem_pass},#{mem_phone},
		#{mem_email},#{mem_name},#{mem_nickname},#{mem_birthday},#{mem_gender},#{mem_address},
		#{mem_category_1},#{mem_category_2},#{mem_photo},default)
	</insert>

	<select id="login" resultType="Integer">
		select count(*) from member where
		mem_id = #{mem_id} and mem_pass = #{mem_pass}
	</select>
</mapper>