<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Vote">
	<insert id="insertVoteList">
		insert into vote_list values(vote_list_seq.nextval, #{vl_title}, sysdate, #{vl_end_date},0);
	</insert>
	
	<insert id="insertVoteOption">
		insert into vote_option values(vote_option_seq.nextval, vote_list_seq.currval, #{value}, default);
	</insert>

	<!-- 공지사항 게시 된 글 수 -->
	<select id="inseron" resultType="int">
		select count(*) from (select notice.*, row_number() over(order by notice_seq
		desc) rn from notice)
	</select>


	

</mapper>