<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Vote">
	<!-- 투표 리스트에 추가 -->
	<insert id="insertVoteList">
		insert into vote_list values(vote_list_seq.nextval, #{vl_title}, sysdate, #{vl_end_date},#{vl_type}, default)
	</insert>
	
	
	<!-- 투표 옵션 넣기 -->
	<insert id="insertVoteOption">
		insert into vote_option values(vote_option_seq.nextval, vote_list_seq.currval, #{value}, default)
	</insert>

	<!-- 투표 리스트 (전쳬) -->
	<select id="selectVoteAll" resultType="kh.hobby1st.dto.VoteListDTO">
		select * from vote_list
	</select>
	
	<!-- 해당 투표 정보 가져오기 -->
	<select id="selectVoteDetail" resultType="kh.hobby1st.dto.VoteListDTO">
		select * from vote_list where vl_seq = #{value}
	</select>
	
	
	<!-- 해당 투표 옵션 값들 가져오기 -->
	<select id="selectVoteOption" resultType="kh.hobby1st.dto.VoteOptionDTO">
		select * from vote_option where vo_vote_seq = #{value}
	</select>

	<!-- 해당 동호회에 대한 투표 여부 -->
	<select id="voteCheck" resultType="int">
		select count(*) from vote_check where vc_vote_seq = #{vc_vote_seq} and vc_vote_id = #{vc_vote_id}
	</select>
	
	<!-- 투표 목록들에 대한 나의 투표 참여 여부 리스트 -->
	<select id="voteCheckList" resultType="kh.hobby1st.dto.VoteListDTO">
		select l.* from vote_list l join vote_check c on (l.vl_seq = c.vc_vote_seq) where vc_vote_id = #{value}
	</select>
	
	<!-- 투표시 count + 1 (option) -->
	<update id="plusOptionCount">
		update vote_option set vo_count = vo_count + 1 where vo_seq = #{value}
	</update>
	
	<!-- 투표시 count + 1 (vote) -->
	<update id="plusVoteCount">
		update vote_list set vl_count = vl_count + 1 where vl_seq = #{value}
	</update>
	
	<!-- 투표시 해당 투표에 투표한 기록 남기기 -->
	<insert id="insertVoteCheck">
		insert into vote_check values(#{vc_vote_seq},#{vc_vote_id})
	</insert>
	
	<!-- 중복투표시 총 투표수 -->
	<select id="voteTotalCount" resultType="int">
		select sum(vo_count) from vote_option where vo_vote_seq = #{value}
	</select>
	
	<!-- 투표수가 많은 option 순으로 가져오기 -->
	<select id="selectOptionByCount" resultType="kh.hobby1st.dto.VoteOptionDTO">
		select * from vote_option where vo_vote_seq = #{value} order by vo_count desc
	</select>
	
	
	
</mapper>